<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Performance Review</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
   
    
     @*<style> 


        a {
    /* color: #428bca; */
    color:#2a398c;
    text-decoration: none;
}
   
        nav navbar-nav{
    background: #fdba31;
 margin-left:40%;
 margin-right:40%;
}



       li a.active {
    background-color: #4CAF50;
    color: white;
}
    .navbar-inverse .navbar-brand {
    color:white;
   
}

        .navbar-inverse .navbar-brand:hover {
            background: #fdba31;
        }
       
    </style>*@
    @*<div style="padding:0 16px;">
            <h2>Responsive Topnav Example</h2>
            <p>This example use media queries to stack the topnav vertically when the screen size is 600px or less.</p>
            <p>You will learn more about media queries and responsive web design later in our CSS Tutorial.</p>
            <h4>Resize the browser window to see the effect.</h4>
        </div>*@




    @*<div style="background-color:#2a398c;border:groove #fdba31" color:white" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div style="color:white" class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                @Html.ActionLink("Performance Review", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })

               

            </div>
           
            <div class="navbar-collapse collapse">
               
                   
                    <ul class="nav navbar-nav navbar-right">
                        <li> <a style="color:white" href="/Performance/Create"><strong> Fill Form </strong></a></li>
                        <li> <a style="color:white" href="/Performance/Details"><strong> Review Form </strong></a></li>
                        <li> <a style="color:white" href="/Performance/Index"><strong> Menu </strong></a></li>

                        
                        <li class="dropdown">
                            <a style="color:white" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong> Sign in </strong> <span class="caret"></span></a>
                            <ul style="background-color:#2a398c;color:#fdba31" class="dropdown-menu">

                                <li> <a style="color:white" href="/Account/Login"><strong> Login </strong></a></li>

                                <li> <a style="color:white" href="/Account/Register"><strong> Register </strong></a></li>
                            </ul>
                        </li>
                    </ul>
               
            </div>
        </div>
    </div>*@

    <div class="container body-content">
        @RenderBody()
        
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>
@RenderSection("featured", required: false)

    <script src="~/Content/Styling/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Styling/jquery.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
